{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": "62",
                    "ie": "10",

                }
            }
        ]
    ]
}