/* ############################################################################################## */
/* ############################################################################################## */
/* #################################### AUTHOR : PAGE Interactive ############################### */
/* ############################################################################################## */
/* ############################################################################################## */


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ############################################################################################## */
/* ############################################################################################## */
/* #################################### MAIN SETTING START ###################################### */
/* ############################################################################################## */
/* ############################################################################################## */

@import 'Gilroy/Gilroy';
@import 'ultimaPro/ultimaPro';

/* ############################################################################################## */
/* ############################################################################################## */
/* #################################### MAIN SETTING STOP ####################################### */
/* ############################################################################################## */
/* ############################################################################################## */


/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */
/* ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ */


/* ############################################################################################## */
/* ############################################################################################## */
/* #################################### IMPORT COMPONENT START ################################## */
/* ############################################################################################## */
/* ############################################################################################## */


@import url('https://use.typekit.net/mjv7hoa.css');

@font-face {
  font-family: din-condensed,sans-serif;
  font-weight: 700;
  font-style: normal;
  }

@font-face {
  font-family: din-condensed,sans-serif;
  font-weight: 400;
  font-style: normal;
  }

@font-face {
  font-family: din-condensed,sans-serif;
  font-weight: 300;
  font-style: normal;
}


/* ############################################################################################## */
/* ############################################################################################## */
/* #################################### IMPORT COMPONENT STOP ################################### */
/* ############################################################################################## */
/* ############################################################################################## */