<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bootscript</title>
  <link href="./css/bootscript.css" rel="stylesheet">
</head>
</head>
<p>cdcdfxs</p>
<body>
  <script type="text/javascript" src="./js/bootscript.js"></script>
</body>
</body>

</html>